.episode-container {
    border:0;
    &:hover{
        background-color: #eee;
    }
    .season-order{
        font-size: 75%;
    }
    .card-title{
        margin-bottom: 0;
        a{
            text-decoration: none;
        }
    }
}